// variables

:root {
    --bg-main: hsl(216, 12%, 8%);
    --bg-card:hsl(213, 19%, 18%);
    --bg-card-trans:hsla(213, 19%, 18%, 0.5);
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --med-grey-trans: hsl(216, 12%, 54%, 15%);
    --med-grey-full: hsl(216, 12%, 54%, 20%);


    --fw-med: 400;
    --fw-bold: 700;

    --ff:'Overpass', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;  

    padding: 0;
    margin:0;
    box-sizing: border-box;


    font-size: 15px;
    font-family: var(--ff);

    background-color: var(--bg-main);
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    
    background: linear-gradient(185deg, var(--bg-card) 0%, var(--bg-card-trans) 50%) ;
    border-radius: 6%;

    box-shadow: inset 0 0 50px 0px hsla(0, 0%, 36%, 0.1);

    height: 25em;
    width: 25em;

    padding: 2em;
    margin: auto;

}

.rating-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    margin: 0 auto;
}

// text on first card
.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0.7em 0;

    .title {
        color: var(--white);
        font-size: 1.7rem;
        font-weight: var(--fw-bold);
        margin-bottom: -0.1em;
    }

    .description {
        color: var(--light-grey);
        line-height: 1.7em;
        max-width: 95%;
    }
}

// number ratings radio buttons
.rating-select {

    border: none;
    width: 100%;
    padding: 0;

    margin: 0 auto;

    .radio-btn {
        
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin: 1em auto;


        label {
            display: flex;
            position: relative;
            cursor: pointer;

            align-items: center;
            text-align: center;

            padding: 0;

            width: 52px;
            height: 52px;

            border-radius: 50px;
            background-color: var(--med-grey-trans);
            
            span {
                line-height: 0;
                font-size: 1rem;
                padding: 0;
                margin: 0 auto;
                align-items: center;
                text-align: center;
                color: var(--light-grey);
            }
            
            &:has(input:checked) {
            background-color: var(--light-grey);
            transition: 200ms;
            &:has(input:hover) { 
            user-select: none;
            }
            }
        
            &:has(input:hover) {
            background-color: var(--orange);
            transition: 200ms;
            }
        }

        input {
            display: none;

            &:checked ~ span, 
            &:hover ~ span {
                color: white;
                transition: 200ms;
            }
        }

    }
   
}



// submit button
div.submit {
    width: 100%;
    padding-top: 1em;
    button {
        width: 100%;
        padding: 0.7em;
        background-color: var(--orange);
        font-family: var(--ff);
        text-transform: uppercase;
        color: var(--white);
        font-size: 1rem;
        letter-spacing: 0.25ch;
        border: none;
        border-radius: 50px;
        box-shadow: 0 2px 15px 1px rgba(18, 18, 18, 0.2);
        cursor: pointer;

        transition: 0.5s;

        &:hover {
            background-color: var(--white);
            color: var(--orange);
            transition: 200ms;
            transition: 0.5s;
        }
    }
}


.star-icon {
    img {
        background-color: var(--med-grey-trans);
        width: 1em;
        padding: 1em;

        border-radius: 50%;
    }
}


// thank you card
.card[data-state="thank-you"] {

    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .return-rating {
        margin: 1.5em auto;
        padding: 0 2em;
        color: var(--orange);

        background-color: var(--bg-card-trans);
        border-radius: 50px;
    }

    .thank-you-text {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align:center;
    
        .title {
            color: var(--white);
            font-size: 1.7rem;
            font-weight: var(--fw-bold);
        }
    
        .description {
            color: var(--light-grey);
            line-height: 1.7em;
            max-width: 95%;
            margin: auto;
        }
    }
}

// display class for hidden card
.hidden {
    display: none; 

}