// variables

:root {
    --bg-main: hsl(216, 12%, 8%);
    --bg-card:hsl(213, 19%, 18%);
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --med-grey: hsl(216, 12%, 54%);

    --fw-med: 400;
    --fw-bold: 700;

    --ff:'Overpass', sans-serif;
}


body {
    padding: 0;
    margin:0;
    box-sizing: border-box;

    font-size: 15px;
    font-family: var(--ff);

    background-color: var(--bg-main);
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-card);
    height: 35em;
    width: 35em;

    padding: 2em;
    margin: 5em auto;

    outline: 1px solid red;
}

.rating-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 90%;
}

.title {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}

.description {
    color: var(--light-grey);
    line-height: 2em;
    max-width: 85%;
}

.rating-select {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
    border: none;

    // outline: 1px solid blue;

    div {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        // outline: 2px solid blue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


label.rating-number {
    display: block;
    background: black;
    position: relative;

    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;     
    }
    .number {
        
        
        width: 4.5em;
        height: 4.5em;
        background-color: #eee;
        border-radius: 50%;
    }

}


input[type="radio"] {

    width: 4.5em;
    height: 4.5em;

    cursor:pointer;

    position: relative;
    color: black;
    z-index: 99;

    &:after {
        content: '';
        width: 4.5em;
        height: 4.5em;
        position: absolute;
        background: blue;
        border-radius: 100%;
    }

    &:checked:after {
        content: '';
        width: 4.5em;
        height: 4.5em;
        position: absolute;
        background: red;
        border-radius: 100%;
    }
}

div.submit {
    width: 100%;
    padding-top: 1em;
    button {
        width: 100%;
        padding: 1em 1em;
        background-color: var(--orange);
        font-family: var(--ff);
        text-transform: uppercase;
        color: var(--white);
        font-size: 1rem;
        letter-spacing: 0.25ch;
        border: none;
        border-radius: 50px;
        box-shadow: 0 2px 15px 1px rgba(0,0,0,0.2);
    }
}