:root {
  --bg-main: hsl(216, 12%, 8%);
  --bg-card:hsl(213, 19%, 18%);
  --bg-card-trans:hsla(213, 19%, 18%, 0.5);
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --med-grey-trans: hsl(216, 12%, 54%, 15%);
  --med-grey-full: hsl(216, 12%, 54%, 20%);
  --fw-med: 400;
  --fw-bold: 700;
  --ff:"Overpass", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: var(--ff);
  background-color: var(--bg-main);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  background: linear-gradient(185deg, var(--bg-card) 0%, var(--bg-card-trans) 50%);
  border-radius: 6%;
  box-shadow: inset 0 0 50px 0px hsla(0, 0%, 36%, 0.1);
  height: 25em;
  width: 25em;
  padding: 2em;
  margin: auto;
}

.rating-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.7em 0;
}
.text .title {
  color: var(--white);
  font-size: 1.7rem;
  font-weight: var(--fw-bold);
  margin-bottom: -0.1em;
}
.text .description {
  color: var(--light-grey);
  line-height: 1.7em;
  max-width: 95%;
}

.rating-select {
  border: none;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.rating-select .radio-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
}
.rating-select .radio-btn label {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  text-align: center;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 50px;
  background-color: var(--med-grey-trans);
}
.rating-select .radio-btn label span {
  line-height: 0;
  font-size: 1rem;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  color: var(--light-grey);
}
.rating-select .radio-btn label:has(input:checked) {
  background-color: var(--light-grey);
  transition: 200ms;
}
.rating-select .radio-btn label:has(input:checked):has(input:hover) {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.rating-select .radio-btn label:has(input:hover) {
  background-color: var(--orange);
  transition: 200ms;
}
.rating-select .radio-btn input {
  display: none;
}
.rating-select .radio-btn input:checked ~ span, .rating-select .radio-btn input:hover ~ span {
  color: white;
  transition: 200ms;
}

div.submit {
  width: 100%;
  padding-top: 1em;
}
div.submit button {
  width: 100%;
  padding: 0.7em;
  background-color: var(--orange);
  font-family: var(--ff);
  text-transform: uppercase;
  color: var(--white);
  font-size: 1rem;
  letter-spacing: 0.25ch;
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 15px 1px rgba(18, 18, 18, 0.2);
  cursor: pointer;
  transition: 0.5s;
}
div.submit button:hover {
  background-color: var(--white);
  color: var(--orange);
  transition: 200ms;
  transition: 0.5s;
}

.star-icon img {
  background-color: var(--med-grey-trans);
  width: 1em;
  padding: 1em;
  border-radius: 50%;
}

.card[data-state=thank-you] {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card[data-state=thank-you] .return-rating {
  margin: 1.5em auto;
  padding: 0 2em;
  color: var(--orange);
  background-color: var(--bg-card-trans);
  border-radius: 50px;
}
.card[data-state=thank-you] .thank-you-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.card[data-state=thank-you] .thank-you-text .title {
  color: var(--white);
  font-size: 1.7rem;
  font-weight: var(--fw-bold);
}
.card[data-state=thank-you] .thank-you-text .description {
  color: var(--light-grey);
  line-height: 1.7em;
  max-width: 95%;
  margin: auto;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */